:host {
    display: block;
}
.headerIncludeConsumerContainer {
    position: relative;
    display: flex;
    &__headerTitle {
        width: 100%;
        position: relative;
    }
    &__btnReturnToCrudConsumer {
        position: absolute;
        width: 150px;
        display: grid;
        margin-left: 86.4%;
        margin-top: 46px;
    }

}

.bodyIncludeConsumerContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    &__selectConsumer {
        display: grid;
        width: 25%;
    }
    
    >.bodyIncludeConsumerContainer__selectAndInputsFieldsContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 32px;
    }
    &__saveFormBTN {
        width: 100.5%;
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
    }
}   