<div class="headerUpdateConsumerContainer">
    <app-mfe-header
        class="headerUpdateConsumerContainer__headerTitle"
        [headerTitle]="mfeHeaderTitle"
    ></app-mfe-header>
    <app-design-system-button 
        class="headerUpdateConsumerContainer__btnReturnToCrudConsumer" 
        [label]="'Voltar'"
        [inverseBTN]="true"
        [size]="'sm'"
        (click)="backToMainMFEConsumerPage()"
        ngDefaultControl    
    ></app-design-system-button>
</div>

<app-design-system-subtitle-banner [bannerText]="'Dados Principais'"></app-design-system-subtitle-banner>

<div class="bodyUpdateConsumerContainer">
    <div class="bodyUpdateConsumerContainer__selectAndInputsFieldsContainer">
        <app-design-system-form-select 
            class="bodyUpdateConsumerContainer__selectConsumer"
            [placeholder]="'Selecione um consumidor'"
            [label]="'Consumidores'"
            [formControl]="formGroup.controls.selectConsumer"
            [options]="['teste1', 'teste2']"
            ngDefaultControl
        ></app-design-system-form-select >

        <app-design-system-form-input 
            class="bodyUpdateConsumerContainer__cnpjInput"
            [placeholder]="'CNPJ'"
            [label]="'CNPJ'"
            [formControl]="formGroup.controls.cnpjInput" 
            ngDefaultControl
        ></app-design-system-form-input>

        <app-design-system-form-input 
            class="bodyUpdateConsumerContainer__statusInput"
            [placeholder]="'Status'"
            [label]="'Status'"
            [formControl]="formGroup.controls.statusInput" 
            ngDefaultControl
        ></app-design-system-form-input>

    </div>

    <app-design-system-textarea [label]="'Observação (opcional)'"></app-design-system-textarea>

    <app-design-system-button
        class="bodyUpdateConsumerContainer__saveFormBTN"
        [label]="'Salvar'"
        [size]="'sm'"
        ngDefaultControl 
    ></app-design-system-button>
  
</div>

