.selectField {
    &__select {
        padding: 8px;
    } 
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__label {
        margin-bottom: 8px;
    }
    &--placeholderGreyColor {
        color: grey;
    } 
}