$santanderRed: #c00;
$santanderRedHover: #900;
$santanderGreyBackground: #a5a5a5;
$santanderGreyTableHeader: #a5a5a5;
$santanderGreyFont: #444444;
$santanderInverseBTN: #acabab;
$santanderInverseBTNHover: #7f7a7a;