@use '../../../../../assets/styles/colors.scss' as colors;

.table {
    width: 100%;
    &__tableData {
        text-align: left;
    }
    &__thead {
        background-color: colors.$santanderGreyTableHeader;
        color: white;
        th {
            text-align: left;
            padding: 10px;
        }
    }
}
.pagination {   
    &__numberContainer{
        display: flex;
        margin-top: 50px;
    }
    &__paginationNumber {
        margin-right: 20px;      
        cursor: pointer;
        &--selected {
            color: colors.$santanderRed;
            text-decoration: underline;
        }
    }
    &__nextAndPreviousBTN {
        cursor: pointer;
        color: colors.$santanderRed;
    }
    &__tableBodyRegistersRow {
        display: flex;
    }
}