.table {
    &__tableData {
        text-align: center;
    }
}
.pagination {   
    &__numberContainer{
        display: flex;
        margin-top: 50px;
    }
    &__paginationNumber {
        margin-right: 20px;      
        cursor: pointer;
        &--selected {
            color: red;
            text-decoration: underline;
        }
    }
    &__nextAndPreviousBTN {
        cursor: pointer;
        color: red;
    }
    &__tableBodyRegistersRow {
        display: flex;
    }
}